@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");

/* general styling */
* {
  padding: 0;
  margin: 0;
}
/* end general styling */

/* header styles */
.navbar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #55d6aa;
  font-family: "Work Sans", sans-serif;
  padding: 25px 10px;
}

h1 {
  font-family: "Work Sans", sans-serif;
  border: 2px solid black;
  padding: 5px;
  font-size: 1.55vw;
}
/* end header styles */

/* nav bar styles */

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-top: 5px;
}

.navbar-list li a {
  margin: 0px 25px;
  padding: 25px 30px;
  text-decoration: none;
  font-size: 1.55vw;
  color: #000000;
}
/* end nav bar styles */

/* about-me styles*/
.about-me {
  margin: 20px 0;
}

.about-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.about-col-img {
  margin: 20px;
}
.profile-pic {
  width: 300px;
  border-radius: 10px;
}

.about-me h2 {
  font-size: 50px;
  font-family: "Work Sans", sans-serif;
  margin: 75px auto 30px;
  text-align: center;
}

.about-me p {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
}



/* end about-me styles*/
