@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");
/* general styling */
* {
  padding: 0;
  margin: 0;
}
/* end general styling */

/* header styles */
.navbar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #55d6aa;
  font-family: "Work Sans", sans-serif;
  padding: 25px 10px;
}

h1 {
  font-family: "Work Sans", sans-serif;
  border: 2px solid black;
  padding: 5px;
  font-size: 1.55vw;
}
/* end header styles */

/* nav bar styles */

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-top: 5px;
}

.navbar-list li a {
  margin: 0px 25px;
  padding: 25px 30px;
  text-decoration: none;
  font-size: 1.55vw;
}
/* end nav bar styles */
